*{
	font-family: 'Overpass', sans-serif;
}


body{
	margin:0;
}


.container{
	display:grid;
	width:100vw;
	padding:0;
	grid-template-areas: 
		'sideBar nameBlock nameBlock nameBlock nameBlock nameBlock'
		'sideBar nameBlock nameBlock nameBlock nameBlock nameBlock'
		'sideBar education education education education education'
		'sideBar workExperience workExperience workExperience workExperience workExperience'
		'sideBar references references references references references'
}

@media screen and (max-width: 1200px){
	
	.container{
	display:grid;
	width:100vw;
	grid-template-areas: 
		'nameBlock nameBlock'
		'sideBar sideBar'
		'sideBar  sideBar '
		'sideBar  sideBar '
		'sideBar  sideBar'
		'education education'
		'workExperience workExperience'
		'references references'

	}
	.sideBar{
		grid-area: sideBar;
		width:100vw;
		background-color: #000051;
	}
	.sideBarBody{
		text-align: center;		
	}
	.sideBarBodyAbout{
	padding:0rem 2.5rem 2.5rem 2.5rem !important ;
	font-size: 16px;
}

}
@media screen and (max-width: 500px){
	body{
		margin:0;
	}
	.sectionDate{
		width:40%;
		font-size: 14px;
	}
	.sectionBody{
		width:60%;
		font-size: 14px;

	}
	.education{
		font-size: 16px;
		padding:1rem !important;
	
	}
	.workExperience{
		font-size: 16px;
		padding:1rem !important;
	}
	.references{
		font-size: 16px;
		padding: 0rem !important;

	}
	.container{
		width:100%;
		
	}
	.listSection{
		padding:0.4rem;
	}
	

}

.sideBarBodyAbout{
	padding:0rem 2.5rem 30rem 2.5rem ;
	font-size: 16px;
	color: #000051;
}


.sideBar{
	grid-area: sideBar;	
	background-color: #3498db;
}

.sideBarHeads{
	text-align: center;
	background-color: #1a237e;
	color: #3498db;
	text-transform: uppercase;
}
.sideBarBody{
	padding:0rem 2.5rem 0rem 2.5rem ;
	font-size: 16px;
}
.hobbies{
	display: flex;
	justify-content: center;
}

.nameBlock{
	font-size: 16px;
	grid-area: nameBlock;
	padding:3rem;
}
.education{
	font-size: 16px;
	grid-area: education;
	padding:3rem;
	
}
.workExperience{
	font-size: 16px;
	grid-area: workExperience;
	padding:3rem;
}
.references{
	font-size: 16px;
	grid-area: references;
	padding:3rem;
}
.list{
	display: inline;
	float:left;
	width:50%;
	color: #000051;

}
.listHead{
	text-transform: uppercase;
}

.sectionHead{
	font-size:20px;
	padding:1rem;
	margin-bottom:1rem;
	border-bottom:2px solid #3498db;
	text-transform: uppercase;
}

.sectionDate{
	width:30%;
	float:left;
	display: inline-block;
	color: #000051;
	

}
.sectionBody{
	width:70%;
	display: inline-block;	
	float:left;
	color: #000051;

}

#profileImage{
	width:7rem;
	border:1px solid transparent;
	border-radius:100%;
}
.imageBox{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:1rem;
}
